@use "../variables";

/********** GENERAL **********/

body {
  padding: 0;
  margin: 0;
  font-family: variables.$font-family-serif;
  line-height: 1.6;
  @include variables.text-color();
  background-color: variables.$main-background-color;
}

/********** HEADER **********/

header {
  padding: 2rem 1rem;
  @include variables.text-color(variables.$header-text-color);
  text-align: center;
  @include variables.banner(
    bottom,
    variables.$gradient-color-1,
    variables.$gradient-color-2,
    url("../images/wave.svg")
  );
}

.header__title {
  margin: 0;
  font-size: 4rem;
  letter-spacing: 0.75rem;
}

.header__paragraph {
  margin-block-start: 0.5rem;
  font-size: 2rem;
  font-weight: 900;
}

/********** NAVIGATION **********/

nav {
  background-color: variables.$gradient-color-2;

  // Menú hamburguesa, en tamaño desktop no se muestra
  .menu-toggle {
    display: none;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    list-style: none;
  }

  a {
    display: block;
    padding: 0.5rem 0.5rem;
    font-size: 0.9rem;
    font-weight: bold;
    color: variables.$header-text-color;
    text-decoration: none;
  }

  a:hover {
    background-color: rgb(0 0 0 / 0.1);
  }

  a.actual {
    background-color: rgb(0 0 0 / 0.2);
  }
}

.submenu {
  display: none;
}

body.page-det1 .submenu-det1 {
  display: block;
}

/********** MAIN **********/

main {
  padding: 2rem 6rem;
  margin: auto;
}

/********** TARJETAS **********/

.card,
.cardList {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: variables.$card-background-color;
  border: 2px solid variables.$card-border-color;
  border-radius: 10px;
  box-shadow: 0 12px 24px rgb(0 0 0 / 0.2);
  transition:
    transform 0.3s,
    box-shadow 0.3s;
}

.card:hover,
.cardList:hover {
  box-shadow: 0 24px 48px rgb(0 0 0 / 0.4);
  transform: translateY(-12px);
}

.card__image,
.cardList__image {
  inline-size: 100%;
  block-size: 200px;
  object-fit: cover;
}

.card__content {
  padding: 0 1.2rem;
  margin: 0;
}

.cardList__content,
.card__footer {
  padding: 1.2rem;
  margin: 0.8rem 0 0;
}

.card__footer {
  margin-block-start: auto;
}

.card__link {
  padding: 0.3rem;
  font-size: 0.8rem;
  font-weight: 900;
  @include variables.text-color(variables.$card-link-color);
  text-decoration: none;
  border: 2px solid variables.$card-border-button-color;
}

.card__title,
.h2__title {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-block-start: 0;
  font-size: 1.3rem;
  @include variables.text-color(variables.$card-title-color);
}

.h2__title {
  padding: 1rem 0;
}

/********** FOOTER **********/

footer {
  padding: 1rem;
  @include variables.banner(
    top,
    variables.$gradient-color-1,
    variables.$gradient-color-2
  );
}

.footer__paragraph {
  font-size: 0.9rem;
  @include variables.text-color(variables.$footer-text-color);
  text-align: center;
}

.icon__size {
  font-size: 2rem;
}

.tip {
  display: block;
  padding: 1.2rem;
  color: #666363;
  text-align: justify;
  border: 0.2rem solid #666363;
  border-radius: 0.7rem;
}

/***** VIDEO ********/
.video {
  inline-size: 80%;
  margin: 0 auto;

  .video__iframe {
    display: block;
    inline-size: 100%;
    block-size: auto;
    aspect-ratio: 16/9;
    border: 0;
  }

  .video__figcaption {
    font-size: 0.9rem;
    text-align: end;
  }
}

/******* CARD TOOLTIPS *********/
.card__toolTip {
  position: relative;
  color: variables.$cardTip-color-word;
  cursor: help;
}

.card__toolTip__content {
  position: absolute;
  inset-block-start: 100%;
  inset-inline-start: 50%;

  //para que el tooltip se muestre por encima de otros elementos
  z-index: 1;
  visibility: hidden;
  inline-size: 10rem;
  padding: 0.5rem;
  color: #000;

  background: #fff;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.5);
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity 0.3s ease;
}

.card__toolTip:hover .card__toolTip__content {
  visibility: visible;
  opacity: 1;
}
/****fin card tooltips******/

.img-fluid {
  max-inline-size: 100%;

  block-size: auto;
}

.img-content1 {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 100%;
  block-size: auto;
}

.content_cards,
.content_list {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(variables.$min-column-size, 1fr)
  );
  gap: 2rem;
  max-inline-size: variables.$max-main-width;
  padding: 2rem 1rem;
  margin: auto;
}

/******* HERO IMAGE ***********/
/*
.hero-image-1,
.hero-image-2 {
  //Establece el contenedor como relativo para que los elementos 
  //  dentro puedan posicionarse de forma absoluta 
  position: relative;
  display: inline-block;
  inline-size: 100%;
  object-fit: cover;
  // La imagen no se repite dentro del elemento contenedor 
  background-repeat: no-repeat;
  // Posiciona la imagen en el centro del elemento contenedor 
  background-position: center;
  // Escala la imagen, manteniendo la relación de aspecto, 
    // hasta el tamaño mínimo necesario para cubrir todo el
   //  elemento contenedor 
  background-size: cover;
}*/

/*
.hero-image-1 {
  block-size: 24rem;
  //background-image: url(../images/hero_sensoji.jpg);
  position: relative;
  inline-size: 100%;
}
  */

  /* ///////////////////////////////////// 14
.hero-image-1 picture,
.hero-image-1 img {
  inline-size: 100%;
  block-size: 70%; //100%
}

.hero-image-1 img {
  object-fit: cover;
  object-position: center;
  display: block;
}
  */

/* Nota: det2 será hero__container-2 y hero__image-2 --> AÑADIR LAS CLASES A DET2*/

.hero__container-1,
.hero__container-2 {
  position: relative;
  width: 100%;
  //height: 26rem;
  overflow: hidden;
}

/* Nota: Para distintas medias se puede poner auto o rem para que quede mejor la imagen*/
.hero__container-1 {
  //height: 26rem;
  height: 44rem;
  //height: auto;
}

/*
.hero__container-2 {
  height: 30rem;
}
  */

.hero__container-1 picture,
.hero__container-2 picture,
.hero__image-1,
.hero__image-2 {
  width: 100%;
  height: 100%;
}

.hero__image-1,
.hero__image-2 {
  object-fit: cover;
  object-position: center;
  display: block;
}

/*
.hero {
  width: 100%;
  height: 26rem;
  object-fit: cover;
}
  */



.hero-image-2 {
  block-size: 30rem;
  background-image: url(../images/hero_shibuya_crossing.jpg);
}

.hero__title {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  box-sizing: border-box;

  display: inline-block;

  max-inline-size: 100%;

  font-size: 3rem;
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: rgba(242, 242, 230, 0.7);
  transform: translate(-50%, -50%);
}

.text__underline {
  text-decoration: underline;
  text-decoration-thickness: 0.25rem;
  text-decoration-color: black;
}

/******* CONTENEDOR DISTRIBUTION *******/
/* Contenedor para posicionar texto/imágenes a derecha-izquierda en desktop/tablet; y en mobile aparecerá verticalmente */
.distribution {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.distribution__right,
.distribution__left {
  flex: 1;
  min-inline-size: 0;

  /* Para centrar la imagen en pantalla */
  img {
    display: block;
    margin: 0 auto;
  }
}

.distribution__right {
  padding: 0 0 0 2rem;
}

.distribution__right figure {
  text-align: center;
}

.distribution__right figcaption a {
  display: inline-block;
  font-size: 0.8rem;
  color: #666;
  text-decoration: none;
}

.distribution__right figcaption a:hover {
  text-decoration: underline;
}

/********* TABLAS **********/
table {
  inline-size: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 0.5rem;
  border: 1px solid variables.$color2;
}

td {
  /* Para que se puedan fragmentar las palabras largas, ya que en el texto de las atribuciones
   * de Wikimedia para las fotografías, hacía que el texto se desbordase en mobile. */
  overflow-wrap: break-word;
}

.text__bold {
  font-weight: bold;
}

caption {
  inline-size: 100%;
  padding: 1rem 0;
  font-size: 1.5rem;
  background-color: variables.$color4;
}

@media screen and (max-width: 600px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  // Oculta la cabecera de la tabla pero sigue existiendo
  // en el DOM, por lo que sigue siendo accesible para los
  // lectores de pantalla
  thead {
    position: absolute;
    inset-block-start: -9999px;
    inset-inline-start: -9999px;
  }

  tr {
    margin-block-end: 1rem;
    border: 1px solid variables.$color2;
  }

  td {
    position: relative;
    padding-inline-start: 40%;
    border: none;
  }

  td:before {
    position: absolute;
    inset-inline-start: 1rem;
    font-weight: bold;
    content: attr(data-label);
  }
}

.more::after {
  display: inline-block;
  margin-inline-start: 0.5rem;
  content: "\2192";
}

.table__miniaturaImg {
  inline-size: 6rem;
  block-size: auto;
  border-radius: 0.4rem;
}

.table__icon {
  font-size: 3rem;
}

/* Para centrar en la tabla las miniaturas y los iconos, en desktop y tablet */
.table__miniaturaImg,
.table__icon {
  display: block;
  margin: 0 auto;
}

/***********************************************************/
/********** ANIMATIONS **********/
/* Nota: Si al final hay mucho código de animaciones no estaría mal incluir otro archivo .scss para estas*/

/* Animación para que en el título de la página de portada aparezcan
   las letras/palabras animadas de derecha a izquierda, hasta su posición centrada
   en pantalla, con un delay */
.animation__title {
  //font-size: 3rem;
  font-size: clamp(1.8rem, 5vw, 3rem);
  //display: flex; 
  //justify-content: center;
  text-align: center;
  flex-wrap: wrap;

  position: relative; //mirar 14
  padding-bottom: .5rem; //mirar 14

  margin-top: 0;
  
}

.animation__title span {
  display: inline-block;
  //transform: translateX(2rem);
  transform: translateX(100vw);
  //transform: translateX(50%);
  animation: animated-title .5s ease-out forwards;
  //opacity: 0;
}

/* Para este código se ha creado en assets/scripts/main.js una función de JavaScript
   para cubrir títulos con muchas letras o palabras (según cómo se quiera animar).*/
/*
.animation__title span:nth-child(1) { animation-delay: 1s; }
.animation__title span:nth-child(2) { animation-delay: 2s; }
.animation__title span:nth-child(3) { animation-delay: 3s; }
.animation__title span:nth-child(4) { animation-delay: 4s; }
.animation__title span:nth-child(5) { animation-delay: 5s; }
//etc...
*/

@keyframes animated-title {
  to {
     transform: translateX(0);
     //opacity: 1;
  }
 

}

/* Animación para que en el título de la página de portada aparezcan
   unas líneas animadas de izquierda a derecha, encuadrando el título */
.animation__line {
  position: relative;
  display: inline-block;

  //padding: 2rem 0;
  padding: clamp(.1rem, 5vw, .8rem) 0;
}



//.animation__title::after,
//.animation__title::before {
.animation__line::after,
.animation__line::before {
  content: "";
  position: absolute;
 

  //width: 100%;
  height: .5rem;

  right: 0;
  left: 0;

  //background: linear-gradient(to right, rgb(129, 22, 22, .8), rgb(129, 22, 22, .2), rgb(129, 22, 22, .8));
  //top: 0;
  //bottom: 0;

  //transform: translateX(100vw);
  transform-origin: left;
  //transform: scaleX(0);
  animation: animated-line 2s ease-out forwards;
}

//.animation__title::after {
.animation__line::after {
  bottom: 0;
  //bottom: -.5rem;
  //left: 0;
 
  animation-delay: 1.3s;
}

//.animation__title::before {
.animation__line::before {
  top: 0;
  //left: 0;
  
  //transform-origin: left;
  //bottom: -.5rem;
  
}

/*Muy bonito, Nota: se podría añadir también para dividir apartados en det1 y det2, o para subrayar los títulos de las secciones 
  Nota: se podría hacer la función o el mixin para linear-gradient y así controlar los colores base de la página web*/
@keyframes animated-line {
  0% {
    //transform: scaleX(0);
    //transform: translateX(-100vw) scaleX(1);
    transform: translateX(-100vw);
    background: linear-gradient(to right, rgb(129, 22, 22, .6), rgb(129, 22, 22, .3), rgb(129, 22, 22, .6));
  }
  100% {
    //transform: scaleX(1);
    //transform: translateX(0) scaleX(1);
    transform: translateX(0);
    background: linear-gradient(to right, rgb(129, 22, 22, .8), rgb(129, 22, 22, .4), rgb(129, 22, 22, .8));
  }
}

/* Animación para que la imagen de la flor de sakura en .SVG, haga un efecto
   de caída y rotación sobre el título de la página. */
.animation__flower {
  position: relative;
  //width: 50%;
  margin-top: 1rem;
  
}

.flower {
  position: absolute;
  top: -50px;
  left: 100%;
  animation: animated-flower 5s linear infinite;

  //max-width: 30px;
  max-width: 40px;
  height: auto;
}

@include variables.flower-position(1, 0%, 2s);
@include variables.flower-position(2, 15%, 3s);
@include variables.flower-position(3, 30%, 4s);
@include variables.flower-position(4, 45%, 3.5s);
@include variables.flower-position(5, 60%, 2.5s);
@include variables.flower-position(6, 75%, 3.7s);
@include variables.flower-position(7, 90%, 2.5s);

/*
@include variables.flower-positiion(1, 0%, 0s);
@include variables.flower-positiion(2, 15%, 1s);
@include variables.flower-positiion(3, 30%, 2s);
@include variables.flower-positiion(4, 45%, 1.5s);
@include variables.flower-positiion(5, 60%, 0.5s);
@include variables.flower-positiion(6, 75%, 1s);
@include variables.flower-positiion(7, 90%, 0.5s);
*/
/*
.flower:nth-child(1) {
  left: 0%;
  animation-duration: 6s;
  animation-delay: 0s;
}

.flower:nth-child(2) {
  left: 15%;
  animation-duration: 6s;
  animation-delay: 1s;
}

.flower:nth-child(3) {
  left: 30%;
  animation-duration: 6s;
  animation-delay: 2s;
}

.flower:nth-child(4) {
  left: 45%;
  animation-duration: 6s;
  animation-delay: 1.5s;
}

.flower:nth-child(5) {
  left: 60%;
  animation-duration: 6s;
  animation-delay: 0.5s;
}

.flower:nth-child(6) {
  left: 75%;
  animation-duration: 6s;
  animation-delay: 1s;
}

.flower:nth-child(7) {
  left: 90%;
  animation-duration: 6s;
  animation-delay: 0.5s;
}
  */
/*
.flower:nth-child(8) {
  left: 80%;
  animation-duration: 6s;
  animation-delay: 0s;
}

.flower:nth-child(9) {
  left: 90%;
  animation-duration: 6s;
  animation-delay: 0s;
}

.flower:nth-child(10) {
  left: 100%;
  animation-duration: 6s;
  animation-delay: 0s;
}

.flower:nth-child(11) {
  left: 0%;
  animation-duration: 6s;
  animation-delay: 0s;
}
  */

@keyframes animated-flower {
  0% {
    transform: translateX(0) translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    //transform: translateX(100px) translateY(400px) rotate(360deg);
    transform: translateX(60px) translateY(200px) rotate(360deg);
    opacity: 0;
  }
}



/*
.title__underline__animation {
  display: flex;
  justify-content: center;
}

.title__underline__animation span {
  width: 2rem;
  height: 2rem;
  background: red;
  transform: translateX(-100vw);
  animation: animated-title-underline .5s ease-out forwards;
}

@keyframes animated-title-underline {
  to {
     transform: translateX(0);
     //opacity: 1;
  }
 

}
  */

  /*
.carrete__container {
  display: flex;
  align-items: center;
}

.carrete__foto {
  display: flex;
  transition: transform .5s ease;

  list-style: none;
}

.carrete__miniaturaImg {
  inline-size: 17rem;
  block-size: auto;
  border-radius: 0.4rem;
}
  */
  
.image__container {
  position: relative;
  //max-width: 800px;
  //height: 500px;
  //width: 100%;
  //display: inline-block;

  width: 100%;
  aspect-ratio: 1;
}
//.image__container img {
.animated__photo {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity .5s ease-in-out;
  //z-index: 1;
}

.image__top {
  //opacity: 1;
  opacity: 0;
  //animation: change-photo 6s infinite alternate;
  
  //z-index: 1;
  z-index: 2;
}

.image__bottom {
  //opacity: 0;
  opacity: 1;
  //animation: change-photo 10s infinite alternate; 
  //animation-delay: 5s;
  //z-index: 2;
  z-index: 1;
}



.clip-path__monte-fuji {
  

  /*
  clip-path: polygon(
    50% 5%,
    85% 90%,
    15% 90%
  );
  */
  /*
  50% 10%,
    85% 95%,
    15% 95%



    30% 15%,
    55% 10%,
    70% 15%,
    90% 50%,
    10% 50%

    30% 15%,   
    55% 10%,   
    70% 15%,   
    90% 50%,  
    10% 50%,   
    15% 85%,   
    25% 85% 
  
  */
  clip-path: polygon(
    30% 15%,   
    55% 10%,   
    70% 15%,   
    90% 45%,  
    30% 45%,   
    40% 100%,
    15% 97%,   
    15% 95%  
     
    
  );

  //animation: change-photo 5s infinite alternate ease-in-out;
  //opacity: 0;
  
  //z-index: 2;
}

.clip-path__monte-fuji__circle {
  clip-path: circle(50%);
  top: 10%;
  left: 10%;
  width: 2rem;
  height: 2rem;
}

/*
@keyframes change-photo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
  */

.image__container:hover .image__top,
.image__container:focus .image__top {
  opacity: 1;
}

.image__container:hover .image__bottom,
.image__container:focus .image__bottom {
  opacity: 0;
}



/***********************************************************/
/********** RESPONSIVE **********/

@media (max-width: 1300px) {
  nav {
    // Menú hamburguesa
    .menu-toggle {
      display: block;
      padding: 0.5rem 1rem;
      font-size: 1.5rem;
      color: variables.$header-text-color;
      cursor: pointer;
      background: none;
      border: none;
    }

    ul {
      flex-direction: column;
      align-items: center;
      max-block-size: 0;
      padding: 0;
      overflow: hidden;
      background-color: variables.$gradient-color-2;
      transition: max-height 0.3s ease;
    }

    ul.active {
      max-block-size: 500px;
    }
  }
}

@media (max-width: 768px) {
  .header__title {
    font-size: 2.5rem;
  }

  .header__paragraph {
    font-size: 1.5rem;
  }

  main {
    padding: 1rem;
  }

  .card__content p {
    font-size: 0.95rem;
  }
}

@media (max-width: 480px) {
  .header__title {
    font-size: 2rem;
  }

  .header__paragraph {
    font-size: 1rem;
  }

  .card__image {
    block-size: auto;
  }

  .card,
  .card__toolTip__content {
    align-items: center;
    justify-content: center;
    max-inline-size: 80%;
  }

  /* Para centrar las tarjetas en pantalla */
  .content_cards {
    justify-content: center;
    justify-items: center;
  }

  /* Contenedor que en formato desktop y tablet tendrá una distribución del contenido (imágenes y texto)
   * de izquierda y derecha. 
   * En mobile cambiará a una distribución en columna para mostrar el contenido verticalmente. */
  .distribution {
    flex-direction: column;
  }

  .distribution__right,
  .distribution__left {
    inline-size: 100%;
    padding: 0;
  }

  .img__space {
    padding-block-end: 1.5rem;
  }

  .card__toolTip__content {
    /* En mobile el contenido de la card__toolTip aparecerá en el centro de la pantalla. Si no se producía desbordamiento. */
    position: inherit;
    /* #1: Para quitar el espacio en blanco (reservado al espacio que ocupa la cardToolTip) aunque esté invisible. 
     * junto con: .card__toolTip:hover .card__toolTip__content { */
    display: none;
  }

  .card__toolTip:hover .card__toolTip__content {
    /* #1: Para que aparezca la card__toolTip, ya que previamente se ha hecho un "display:none" 
     * para quitar el espacio en blanco (reservado al espacio que ocupa la cardToolTip) aunque esté invisible. 
     * junto con: .card__toolTip__content */
    display: block;
  }

  /* Para mantener en la tabla los iconos y las miniaturas alineadas a la izquerda quitando el centrado*/
  .table__miniaturaImg,
  .table__icon {
    padding: 0;
    margin: 0;
  }
}
