@use "../variables";

/********** GENERAL **********/

body {
  padding: 0;
  margin: 0;
  font-family: variables.$font-family-serif;
  line-height: 1.6;
  @include variables.text-color();
  background-color: variables.$main-background-color;

  /*OVERFLOW-X MIRAR*/
  //overflow-x: hidden;
}

/********** HEADER **********/

header {
  padding: 2rem 1rem;
  @include variables.text-color(variables.$header-text-color);
  text-align: center;
  @include variables.banner(
    bottom,
    variables.$gradient-color-1,
    variables.$gradient-color-2,
    url("../images/wave.svg")
  );
}

.header__title {
  margin: 0;
  font-size: 4rem;
  letter-spacing: 0.75rem;
}

.header__paragraph {
  margin-block-start: 0.5rem;
  font-size: 2rem;
  font-weight: 900;
}

/********** NAVIGATION **********/

/*
nav,
.submenu__content {
*/
nav {
  background-color: variables.$gradient-color-2;

  // Menú hamburguesa, en tamaño desktop no se muestra
  .menu-toggle {
    display: none;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    list-style: none;
  }

  a {
    display: block;
    padding: 0.5rem 0.5rem;
    font-size: 0.9rem;
    font-weight: bold;
    color: variables.$header-text-color;
    text-decoration: none;
  }

  a:hover {
    background-color: rgb(0 0 0 / 0.1);
  }

  a.actual {
    background-color: rgb(0 0 0 / 0.2);
  }

  /*
  .hvr-underline-from-center::before {
    background: variables.$gradient-color-1;
  }
  */
}

.submenu {
  display: none;
}

body.page-det1 .submenu-det1 {
  display: block;
}

/********** MAIN **********/
/*
main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(variables.$min-column-size, 1fr));
  gap: 2rem;
  max-inline-size: variables.$max-main-width;
  padding: 2rem;
  margin: auto;
}
*/

main {
  //padding: 2rem;
  padding: 2rem 6rem;
  margin: auto;
  //width: 80%;
  //max-inline-size: variables.$max-main-width;
}

/********** TARJETAS **********/

.card,
.cardList {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: variables.$card-background-color;
  border: 2px solid variables.$card-border-color;
  border-radius: 10px;
  box-shadow: 0 12px 24px rgb(0 0 0 / 0.2);
  transition:
    transform 0.3s,
    box-shadow 0.3s;
}

.card:hover,
.cardList:hover {
  box-shadow: 0 24px 48px rgb(0 0 0 / 0.4);
  transform: translateY(-12px);
}

.card__image,
.cardList__image {
  inline-size: 100%;
  block-size: 200px;
  object-fit: cover;
}

.card__content {
  padding: 0 1.2rem;
  margin: 0;
}

.cardList__content,
.card__footer {
  padding: 1.2rem;
  margin: 0.8rem 0 0;
}

.card__footer {
  margin-block-start: auto;
}

.card__link {
  padding: 0.3rem;
  font-size: 0.8rem;
  font-weight: 900;
  @include variables.text-color(variables.$card-link-color);
  text-decoration: none;
  border: 2px solid variables.$card-border-button-color;
}

.card__title,
.h2__title {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-block-start: 0;
  font-size: 1.3rem;
  @include variables.text-color(variables.$card-title-color);
}

.h2__title {
  padding: 1rem 0;
}

/********** FOOTER **********/

footer {
  padding: 1rem;
  @include variables.banner(
    top,
    variables.$gradient-color-1,
    variables.$gradient-color-2
  );
}

.footer__paragraph {
  font-size: 0.9rem;
  @include variables.text-color(variables.$footer-text-color);
  text-align: center;
}
/*******************************************************************************************/

.icon__size {
  font-size: 2rem;
}

.tip {
  display: block;
  padding: 1.2rem;
  color: #666363;
  text-align: justify;
  border: 0.2rem solid #666363;
  border-radius: 0.7rem;
}

/***** VIDEO ********/
.video {
  inline-size: 80%;
  //max-width: 80%;
  margin: 0 auto;

  .video__iframe {
    display: block;
    inline-size: 100%;
    block-size: auto;
    aspect-ratio: 16/9;
    border: 0;
  }

  .video__figcaption {
    font-size: 0.9rem;
    text-align: end;
  }
}

/******* CARD TIPS *********/
.card__toolTip {
  position: relative;
  color: variables.$cardTip-color-word;
  cursor: help;
}

.card__toolTip__content {
  position: absolute;
  inset-block-start: 100%;
  inset-inline-start: 50%;

  //para que el tooltip se muestre por encima de otros elementos
  z-index: 1;
  visibility: hidden;
  inline-size: 10rem;
  padding: 0.5rem;
  color: #000;

  background: #fff;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.5);
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity 0.3s ease;
}

.card__toolTip:hover .card__toolTip__content {
  visibility: visible;
  opacity: 1;
}
/****fin card tips******/

.img-fluid {
  max-inline-size: 100%;

  block-size: auto;
}

.img-content1 {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 100%;
  block-size: auto;
}

.content_cards,
.content_list {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(variables.$min-column-size, 1fr)
  );
  gap: 2rem;
  max-inline-size: variables.$max-main-width;
  padding: 2rem 1rem;
  margin: auto;
}

/******* HERO IMAGE ***********/
.hero-image-1,
.hero-image-2 {
  /* Establece el contenedor como relativo para que los elementos 
     dentro puedan posicionarse de forma absoluta */
  position: relative;

  display: inline-block;

  inline-size: 100%;
  //width: 100%;
  //height: 560px;

  //height: 24rem;

  //background-image: url(../images/hero_sensoji.jpg);
  object-fit: cover;
  /* La imagen no se repite dentro del elemento contenedor */
  background-repeat: no-repeat;
  /* Posiciona la imagen en el centro del elemento contenedor */
  background-position: center;
  /* Escala la imagen, manteniendo la relación de aspecto, 
     hasta el tamaño mínimo necesario para cubrir todo el
     elemento contenedor */
  background-size: cover;
  //max-width: 100%;
}

.hero-image-1 {
  block-size: 24rem;
  background-image: url(../images/hero_sensoji.jpg);
}

.hero-image-2 {
  block-size: 30rem;
  background-image: url(../images/hero_shibuya_crossing.jpg);
}

.hero-title {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  box-sizing: border-box;

  display: inline-block;

  max-inline-size: 100%;

  font-size: 3rem;
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: rgba(242, 242, 230, 0.7);
  transform: translate(-50%, -50%);
}

.text__underline {
  text-decoration: underline;
  text-decoration-thickness: 0.25rem;
  text-decoration-color: black;
}

/******* CONTENEDOR DISTRIBUTION *******/
/* Contenedor para posicionar texto/imágenes a derecha-izquierda en desktop/tablet; y en mobile aparecerá verticalmente */
.distribution {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.distribution__right,
.distribution__left {
  flex: 1;
  min-inline-size: 0;

  /* Para centrar la imagen en pantalla */
  img {
    display: block;
    margin: 0 auto;
  }
}

.distribution__right {
  padding: 0 0 0 2rem;
}

.distribution__right figure {
  text-align: center;
}

.distribution__right figcaption a {
  display: inline-block;
  font-size: 0.8rem;
  color: #666;
  text-decoration: none;
}

.distribution__right figcaption a:hover {
  text-decoration: underline;
}

/********* TABLAS **********/
table {
  inline-size: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 0.5rem;
  border: 1px solid variables.$color2;
}

td {
  /* Para que se puedan fragmentar las palabras largas, ya que en el texto de las atribuciones
   * de Wikimedia para las fotografías, hacía que el texto se desbordase en mobile. */
  overflow-wrap: break-word;
}

caption {
  inline-size: 100%;
  padding: 1rem 0;
  font-size: 1.5rem;
  background-color: variables.$color4;
}

@media screen and (max-width: 600px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  // Oculta la cabecera de la tabla pero sigue existiendo
  // en el DOM, por lo que sigue siendo accesible para los
  // lectores de pantalla
  thead {
    position: absolute;
    inset-block-start: -9999px;
    inset-inline-start: -9999px;
  }

  tr {
    margin-block-end: 1rem;
    border: 1px solid variables.$color2;
  }

  td {
    position: relative;
    padding-inline-start: 40%;
    border: none;
  }

  td:before {
    position: absolute;
    inset-inline-start: 1rem;
    font-weight: bold;
    content: attr(data-label);
  }
}

.more::after {
  display: inline-block;
  margin-inline-start: 0.5rem;
  content: "\2192";
}

.table__miniaturaImg {
  inline-size: 6rem;
  block-size: auto;
  border-radius: 0.4rem;
}

.table__icon {
  font-size: 3rem;
}

/* Para centrar en la tabla las miniaturas y los iconos, en desktop y tablet */
.table__miniaturaImg,
.table__icon {
  display: block;
  margin: 0 auto;
}

/*******************************************************************************************/

/********** RESPONSIVE **********/

@media (max-width: 1300px) {
  nav {
    // Menú hamburguesa
    .menu-toggle {
      display: block;
      padding: 0.5rem 1rem;
      font-size: 1.5rem;
      color: variables.$header-text-color;
      cursor: pointer;
      background: none;
      border: none;
    }

    ul {
      flex-direction: column;
      align-items: center;
      max-block-size: 0;
      padding: 0;
      overflow: hidden;
      background-color: variables.$gradient-color-2;
      transition: max-height 0.3s ease;
    }

    ul.active {
      max-block-size: 500px;
    }
  }
}

@media (max-width: 768px) {
  .header__title {
    font-size: 2.5rem;
  }

  .header__paragraph {
    font-size: 1.5rem;
  }

  main {
    padding: 1rem;
  }

  .card__content p {
    font-size: 0.95rem;
  }
}

@media (max-width: 480px) {
  .header__title {
    font-size: 2rem;
  }

  .header__paragraph {
    font-size: 1rem;
  }

  .card__image {
    block-size: auto;
  }

  .card,
  .card__toolTip__content {
    align-items: center;
    justify-content: center;
    max-inline-size: 80%;
  }

  /* Para centrar las tarjetas en pantalla */
  .content_cards {
    justify-content: center;
    justify-items: center;
  }

  /* Contenedor que en formato desktop y tablet tendrá una distribución del contenido (imágenes y texto)
   * de izquierda y derecha. 
   * En mobile cambiará a una distribución en columna para mostrar el contenido verticalmente. */
  .distribution {
    flex-direction: column;
  }

  .distribution__right,
  .distribution__left {
    inline-size: 100%;
    padding: 0;
  }

  .img__space {
    padding-block-end: 1.5rem;
  }

  .card__toolTip__content {
    /* En mobile el contenido de la card__toolTip aparecerá en el centro de la pantalla. Si no se producía desbordamiento. */
    position: inherit;
    /* #1: Para quitar el espacio en blanco (reservado al espacio que ocupa la cardTip) aunque esté invisible. 
     * junto con: .card__toolTip:hover .card__toolTip__content { */
    display: none;
  }

  .card__toolTip:hover .card__toolTip__content {
    /* #1: Para que aparezca la card__toolTip, ya que previamente se ha hecho un "display:none" 
     * para quitar el espacio en blanco (reservado al espacio que ocupa la cardTip) aunque esté invisible. 
     * junto con: .card__toolTip__content */
    display: block;
  }

  /* Para mantener en la tabla los iconos y las miniaturas alineadas a la izquerda quitando el centrado*/
  .table__miniaturaImg,
  .table__icon {
    padding: 0;
    margin: 0;
  }
}
