@use "../variables";

/********** GENERAL **********/

body {
  padding: 0;
  margin: 0;
  font-family: variables.$font-family-serif;
  line-height: 1.6;
  @include variables.text-color();
  background-color: variables.$main-background-color;
}

/********** HEADER **********/

header {
  padding: 2rem 1rem;
  @include variables.text-color(variables.$header-text-color);
  text-align: center;
  @include variables.banner(
    bottom,
    variables.$gradient-color-1,
    variables.$gradient-color-2,
    url("../images/wave.svg")
  );
}

.header__title {
  margin: 0;
  font-size: 4rem;
  letter-spacing: 0.75rem;
}

.header__paragraph {
  margin-block-start: 0.5rem;
  font-size: 2rem;
  font-weight: 900;
}

/********** NAVIGATION **********/

nav {
  background-color: variables.$gradient-color-2;

  // Menú hamburguesa, en tamaño desktop no se muestra
  .menu-toggle {
    display: none;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    list-style: none;
  }

  a {
    display: block;
    padding: 0.5rem 0.5rem;
    font-size: 0.9rem;
    font-weight: bold;
    color: variables.$header-text-color;
    text-decoration: none;
  }

  a:hover {
    background-color: rgb(0 0 0 / 0.1);
  }

  a.actual {
    background-color: rgb(0 0 0 / 0.2);
  }
}

.submenu {
  display: none;
}

body.page-det1 .submenu-det1 {
  display: block;
}

/********** MAIN **********/

main {
  padding: 2rem 6rem;
  margin: auto;
}

/********** TARJETAS **********/

.card,
.cardList {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: variables.$card-background-color;
  border: 2px solid variables.$card-border-color;
  border-radius: 10px;
  box-shadow: 0 12px 24px rgb(0 0 0 / 0.2);
  transition:
    transform 0.3s,
    box-shadow 0.3s;
}

.card:hover,
.cardList:hover {
  box-shadow: 0 24px 48px rgb(0 0 0 / 0.4);
  transform: translateY(-12px);
}

.card__image,
.cardList__image {
  inline-size: 100%;
  block-size: 200px;
  object-fit: cover;
}

.card__content {
  padding: 0 1.2rem;
  margin: 0;
}

.cardList__content,
.card__footer {
  padding: 1.2rem;
  margin: 0.8rem 0 0;
}

.card__footer {
  margin-block-start: auto;
}

.card__link {
  padding: 0.3rem;
  font-size: 0.8rem;
  font-weight: 900;
  @include variables.text-color(variables.$card-link-color);
  text-decoration: none;
  border: 2px solid variables.$card-border-button-color;
}

.card__title,
.h2__title {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-block-start: 0;
  font-size: 1.3rem;
  @include variables.text-color(variables.$card-title-color);
}

.h2__title {
  padding: 1rem 0;
}

.text__style {
  @include variables.text-color(variables.$card-title-color);
  font-size: clamp(1rem, 5vw, 1.5rem);
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-decoration-style: dashed;
}

/********** FOOTER **********/

footer {
  padding: 1rem;
  @include variables.banner(
    top,
    variables.$gradient-color-1,
    variables.$gradient-color-2
  );
}

.footer__paragraph {
  font-size: 0.9rem;
  @include variables.text-color(variables.$footer-text-color);
  text-align: center;
}

.icon__size {
  font-size: 2rem;
}

.tip {
  display: block;
  padding: 1.2rem;
  color: #666363;
  text-align: justify;
  border: 0.2rem solid #666363;
  border-radius: 0.7rem;
}

/***** VIDEO ********/
.video {
  inline-size: 80%;
  margin: 0 auto;

  .video__iframe {
    display: block;
    inline-size: 100%;
    block-size: auto;
    aspect-ratio: 16/9;
    border: 0;
  }

  .video__figcaption {
    font-size: 0.9rem;
    text-align: end;
  }
}

/******* CARD TOOLTIPS *********/
.card__toolTip {
  position: relative;
  color: variables.$cardTip-color-word;
  cursor: help;
}

.card__toolTip__content {
  position: absolute;
  inset-block-start: 100%;
  inset-inline-start: 50%;

  //para que el tooltip se muestre por encima de otros elementos
  z-index: 1;
  visibility: hidden;
  inline-size: 10rem;
  padding: 0.5rem;
  color: #000;

  background: #fff;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.5);
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity 0.3s ease;
}

.card__toolTip:hover .card__toolTip__content {
  visibility: visible;
  opacity: 1;
}
/****fin card tooltips******/

.img-fluid {
  max-inline-size: 100%;

  block-size: auto;
}

.img-content1 {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 100%;
  block-size: auto;
}

.content_cards,
.content_list {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(variables.$min-column-size, 1fr)
  );
  gap: 2rem;
  max-inline-size: variables.$max-main-width;
  padding: 2rem 1rem;
  margin: auto;
}

/******* HERO IMAGE ***********/

.hero__container-1,
.hero__container-2 {
  position: relative;
  inline-size: 100%;
  block-size: 30rem;
}

.hero__container-1 picture,
.hero__container-2 picture,
.hero__image-1,
.hero__image-2 {
  inline-size: 100%;
  block-size: 100%;
}

.hero__image-1,
.hero__image-2 {
  display: block;
  object-fit: cover;
  object-position: center;
}

.hero__title {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  box-sizing: border-box;

  display: inline-block;

  max-inline-size: 100%;

  font-size: 3rem;
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: rgba(242, 242, 230, 0.7);
  transform: translate(-50%, -50%);
}

.text__underline {
  text-decoration: underline;
  text-decoration-thickness: 0.25rem;
  text-decoration-color: black;
}

/******* CONTENEDOR DISTRIBUTION *******/
/* Contenedor para posicionar texto/imágenes a derecha-izquierda en desktop/tablet; 
   y en mobile aparecerá verticalmente */
.distribution {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.distribution__right,
.distribution__left {
  flex: 1;
  min-inline-size: 0;

  /* Para centrar la imagen en pantalla */
  img {
    display: block;
    margin: 0 auto;
  }
}

.distribution__right {
  padding: 0 0 0 2rem;
}

.distribution__right figure {
  text-align: center;
}

.distribution__right figcaption a {
  display: inline-block;
  font-size: 0.8rem;
  color: #666;
  text-decoration: none;
}

.distribution__right figcaption a:hover {
  text-decoration: underline;
}

/********* TABLAS **********/
table {
  inline-size: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 0.5rem;
  border: 1px solid variables.$color2;
}

td {
  /* Para que se puedan fragmentar las palabras largas, ya que en el texto de las atribuciones
   * de Wikimedia para las fotografías, hacía que el texto se desbordase en mobile. */
  overflow-wrap: break-word;
}

.text__bold {
  font-weight: bold;
}

caption {
  inline-size: 100%;
  padding: 1rem 0;
  font-size: 1.5rem;
  background-color: variables.$color4;
}

@media screen and (max-width: 600px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  // Oculta la cabecera de la tabla pero sigue existiendo
  // en el DOM, por lo que sigue siendo accesible para los
  // lectores de pantalla
  thead {
    position: absolute;
    inset-block-start: -9999px;
    inset-inline-start: -9999px;
  }

  tr {
    margin-block-end: 1rem;
    border: 1px solid variables.$color2;
  }

  td {
    position: relative;
    padding-inline-start: 40%;
    border: none;
  }

  td:before {
    position: absolute;
    inset-inline-start: 1rem;
    font-weight: bold;
    content: attr(data-label);
  }
}

.more::after {
  display: inline-block;
  margin-inline-start: 0.5rem;
  content: "\2192";
}

.table__miniaturaImg {
  inline-size: 6rem;
  block-size: auto;
  border-radius: 0.4rem;
}

.table__icon {
  font-size: 3rem;
}

/* Para centrar en la tabla las miniaturas y los iconos, en desktop y tablet */
.table__miniaturaImg,
.table__icon {
  display: block;
  margin: 0 auto;
}

/**********************************************/
/********** ANIMACIONES y CLIP-PATHS **********/
/**********************************************/

/*** ANIMACIÓN LETRAS/PALABRAS TÍTULO ***/
/* Animación para que en el título de las páginas de portada/categoria/links aparezcan
   las letras/palabras animadas de derecha a izquierda, hasta su posición centrada
   en pantalla, con un delay */
.animation__title {
  position: relative;
  flex-wrap: wrap;
  font-size: clamp(1.1rem, 10vw, 2.1rem);
  text-align: center;
}

.animation__title span {
  display: inline-block;
  transform: translateX(100vw);
  animation: animated-title 0.5s ease-out forwards;
}

/* Para este código se ha creado en assets/scripts/main.js una función de JavaScript
   para cubrir títulos con muchas letras o palabras (según cómo se quiera animar).*/
/*
.animation__title span:nth-child(1) { animation-delay: 1s; }
.animation__title span:nth-child(2) { animation-delay: 2s; }
.animation__title span:nth-child(3) { animation-delay: 3s; }
.animation__title span:nth-child(4) { animation-delay: 4s; }
.animation__title span:nth-child(5) { animation-delay: 5s; }
//etc...
*/

@keyframes animated-title {
  to {
    transform: translateX(0);
  }
}

/*** ANIMACIÓN LÍNEAS TÍTULO ***/
/* Animación para que en el título de la página de portada/categoria/links aparezcan
   unas líneas animadas de izquierda a derecha, encuadrando el título */
.animation__line {
  position: relative;
  display: inline-block;
  padding: clamp(0.1rem, 5vw, 0.8rem) 0;
  margin-top: .5rem;
}

.animation__line::after,
.animation__line::before {
  position: absolute;
  inset-inline: 0;
  block-size: 0.5rem;
  content: "";
  transform-origin: left;

  animation: animated-line 2s ease-out forwards;
}

.animation__line::after {
  inset-block-end: 0;
  animation-delay: 1.3s;
}

.animation__line::before {
  inset-block-start: 0;
}

@keyframes animated-line {
  0% {
    background: linear-gradient(
      to right,
      rgb(129, 22, 22, 0.6),
      rgb(129, 22, 22, 0.3),
      rgb(129, 22, 22, 0.6)
    );
    transform: translateX(-100vw);
  }
  100% {
    background: linear-gradient(
      to right,
      rgb(129, 22, 22, 0.8),
      rgb(129, 22, 22, 0.4),
      rgb(129, 22, 22, 0.8)
    );
    transform: translateX(0);
  }
}

/*** ANIMACIÓN FLORES DE SAKURA ***/
/* Animación para que la imagen de la flor de sakura en .SVG, haga un efecto
   de caída y rotación sobre el título de la página. */

/* Se ha hecho un "overflow-x:hidden" porque la animación de la caída de las flores 
   de sakura producía desbordamiento en mobile.
   Se ha hecho sobre el main ya que previamente se había hecho un contenedor padre (con un <div>) para que 
   no se produjese el desbordamiento fuera del contenedor, pero aparecía una barra de scroll marcando el contenedor.*/
.flower__container {
  overflow-x: hidden;
  margin-top: .25rem;
}

.animation__flower {
  position: relative;
  margin-block-start: 1.5rem;
}

.flower {
  position: absolute;
  inset-block-start: clamp(-45px, 5vw, -85px);
  inset-inline-start: 0;
  max-inline-size: clamp(40px, 5vw, 50px);
  block-size: auto;

  animation: animated-flower 5s linear infinite;
}

@include variables.flower-position(1, 0%, 2s);
@include variables.flower-position(2, 15%, 3s);
@include variables.flower-position(3, 30%, 4s);
@include variables.flower-position(4, 45%, 3.5s);
@include variables.flower-position(5, 60%, 2.5s);
@include variables.flower-position(6, 75%, 3.7s);
@include variables.flower-position(7, 90%, 2.5s);

@keyframes animated-flower {
  0% {
    opacity: 1;
    transform: translateX(0) translateY(0) rotate(0deg);
  }
  100% {
    opacity: 0;
    transform: translateX(3.75rem) translateY(clamp(10rem, 12vw, 12rem))
      rotate(360deg);
  }
}

/****** CLIP-PATH ******/
/* Clip-path sobre la imagen en la página de portada del monte Fuji. 
   Haciendo hoover sobre la imagen aparecerá la original.*/
.image__container {
  position: relative;
  box-sizing: border-box;

  inline-size: 100%;
  aspect-ratio: 1;

  border: 3px dashed #000;
}

.animated__photo {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
}

.image__top {
  opacity: 0;
}

.image__bottom {
  opacity: 1;
}

.clip-path__monte-fuji {
  clip-path: polygon(
    30% 15%,
    55% 10%,
    70% 15%,
    90% 45%,
    30% 45%,
    40% 100%,
    15% 97%,
    15% 95%
  );
}

.image__container:hover .image__top,
.image__container:focus .image__top {
  opacity: 1;
}

.image__container:hover .image__bottom,
.image__container:focus .image__bottom {
  opacity: 0;
}

/****** CLIP-PATH y ANIMACIONES de las LUCES y la FLOR de sakura ******/
/* Clip-path del árbol de navidad y las luces. Animaciones en la flor de sakura y las luces.*/
.distribution__center__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
}
.distribution__center {
  padding: 4rem 0.5rem 1rem 0.5rem;
  background-color: #fff;
  box-shadow:
    0 0 0 3px rgb(160, 16, 16),
    0 0 0 8px rgb(134, 132, 132),
    0 0 0 13px rgb(4, 143, 4);
}

.tree__container {
  position: relative;
  inline-size: clamp(10rem, 30vw, 30rem);
  aspect-ratio: 3 / 4;
  padding: 0 1rem;
  margin: 0 auto;
}

.tree {
  position: relative;
  z-index: 1;
  inline-size: 100%;
  block-size: 100%;
  background: linear-gradient(#0caa16, #043106);
  clip-path: polygon(
    50% 0%,

    30% 30%,
    40% 30%,
    20% 50%,
    35% 50%,
    10% 70%,
    30% 70%,
    0% 100%,
    100% 100%,
    70% 70%,
    90% 70%,
    65% 50%,
    80% 50%,
    60% 30%,
    70% 30%
  );
}

.tree__flower {
  position: absolute;
  inset-block-start: -50px;
  inset-inline-start: 50%;
  z-index: 2;
  max-inline-size: 5.6rem;
  block-size: auto;
  transform: translateX(-50%);

  animation: animated-flower-tree 9s linear infinite;
}

@keyframes animated-flower-tree {
  from {
    transform: translateX(-50%) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(360deg);
  }
}

.tree__light {
  position: absolute;
  z-index: 3;
  inline-size: 10px;
  aspect-ratio: 1;
  background: linear-gradient(#f6e495, #a0881a);

  clip-path: circle(50%);

  animation: animated-lights 1s infinite alternate;
}

.light-1 {
  inset-block-start: 15%;
  inset-inline-start: 45%;
  animation-delay: 0.5s;
}
.light-2 {
  inset-block-start: 30%;
  inset-inline-start: 55%;
  animation-delay: 1s;
}
.light-3 {
  inset-block-start: 40%;
  inset-inline-start: 35%;
  animation-delay: 0.5s;
}
.light-4 {
  inset-block-start: 55%;
  inset-inline-start: 55%;
  animation-delay: 2s;
}
.light-5 {
  inset-block-start: 65%;
  inset-inline-start: 25%;
  animation-delay: 1.3s;
}
.light-6 {
  inset-block-start: 73%;
  inset-inline-start: 47%;
  animation-delay: 0.8s;
}
.light-7 {
  inset-block-start: 85%;
  inset-inline-start: 75%;
  animation-delay: 1.7s;
}
.light-8 {
  inset-block-start: 90%;
  inset-inline-start: 15%;
  animation-delay: 1.3s;
}
.light-9 {
  inset-block-start: 95%;
  inset-inline-start: 55%;
  animation-delay: 0.3s;
}

@keyframes animated-lights {
  from {
    opacity: 0.4;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1.1);
  }
}

/*** ANIMACIÓN SUBTITLE-UNDERLINE ***/
/* Animación de cambio de color del subrayado en un texto.
   Se ha utilizado en los subtítulos de algunas páginas (portada, det1 y det2) */
.animation__subtitle__underline {
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: rgb(129, 22, 22);
  animation: animated-subtitle-underline 2s ease-in-out infinite;
}

@keyframes animated-subtitle-underline {
  0%,
  100% {
    text-decoration-color: rgb(129, 22, 22);
  }
  10%,
  90% {
    text-decoration-color: rgb(150, 30, 30);
  }
  20%,
  70% {
    text-decoration-color: rgb(200, 50, 50);
  }
  30% {
    text-decoration-color: rgb(210, 70, 60);
  }
  40%,
  60% {
    text-decoration-color: rgb(220, 100, 80);
  }
  50% {
    text-decoration-color: rgb(240, 130, 100);
  }
  80% {
    text-decoration-color: rgb(180, 30, 30);
  }
}

/*** ANIMACIÓN TEXT-COLOR ***/
/* Animación para cambiar el color de un texto. En este caso se ha utilizado sobre "2026",
   en el texto de la postal navideña, en la página de portada. */
.animation__text__color {
  animation: animated-text-color 3s ease-in-out infinite;
}

@keyframes animated-text-color {
  0%,
  100% {
    color: rgb(128, 0, 32);
  }
  20% {
    color: rgb(180, 50, 50);
  }
  40% {
    color: rgb(209, 142, 17);
  }
  60% {
    color: rgb(148, 101, 15);
  }
  80% {
    color: rgb(7, 90, 62);
  }
}
/*** fin de Animaciones y Clip-paths ***


/******** Estilos de texto ********/
.text__style-1,
.text__style-2 {
  @include variables.text-color(variables.$card-title-color);
}

.text__style-1 {
  font-size: clamp(0.7rem, 5vw, 1.1rem);
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-decoration-style: dashed;
}

.text__style-2 {
  font-size: clamp(1rem, 5vw, 2rem);
  text-align: center;
}

.text__style-3 {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1.5rem, 5vw, 2.5rem);
  font-weight: 900;
}

/********** RESPONSIVE **********/

@media (max-width: 1300px) {
  nav {
    // Menú hamburguesa
    .menu-toggle {
      display: block;
      padding: 0.5rem 1rem;
      font-size: 1.5rem;
      color: variables.$header-text-color;
      cursor: pointer;
      background: none;
      border: none;
    }

    ul {
      flex-direction: column;
      align-items: center;
      max-block-size: 0;
      padding: 0;
      overflow: hidden;
      background-color: variables.$gradient-color-2;
      transition: max-height 0.3s ease;
    }

    ul.active {
      max-block-size: 500px;
    }
  }
}

@media (max-width: 768px) {
  .header__title {
    font-size: 2.5rem;
  }

  .header__paragraph {
    font-size: 1.5rem;
  }

  main {
    padding: 1rem;
  }

  .card__content p {
    font-size: 0.95rem;
  }
}

@media (max-width: 480px) {
  .header__title {
    font-size: 2rem;
  }

  .header__paragraph {
    font-size: 1rem;
  }

  .card__image {
    block-size: auto;
  }

  .card,
  .card__toolTip__content {
    align-items: center;
    justify-content: center;
    max-inline-size: 80%;
  }

  /* Para centrar las tarjetas en pantalla */
  .content_cards {
    justify-content: center;
    justify-items: center;
  }

  /* Contenedor que en formato desktop y tablet tendrá una distribución del contenido (imágenes y texto)
   * de izquierda y derecha. 
   * En mobile cambiará a una distribución en columna para mostrar el contenido verticalmente. */
  .distribution {
    flex-direction: column;
  }

  .distribution__right,
  .distribution__left {
    inline-size: 100%;
    padding: 0;
  }

  .img__space {
    padding-block-end: 1.5rem;
  }

  .card__toolTip__content {
    /* En mobile el contenido de la card__toolTip aparecerá en el centro de la pantalla. Si no se producía desbordamiento. */
    position: inherit;
    /* #1: Para quitar el espacio en blanco (reservado al espacio que ocupa la cardToolTip) aunque esté invisible. 
     * junto con: .card__toolTip:hover .card__toolTip__content { */
    display: none;
  }

  .card__toolTip:hover .card__toolTip__content {
    /* #1: Para que aparezca la card__toolTip, ya que previamente se ha hecho un "display:none" 
     * para quitar el espacio en blanco (reservado al espacio que ocupa la cardToolTip) aunque esté invisible. 
     * junto con: .card__toolTip__content */
    display: block;
  }

  /* Para mantener en la tabla los iconos y las miniaturas alineadas a la izquerda quitando el centrado*/
  .table__miniaturaImg,
  .table__icon {
    padding: 0;
    margin: 0;
  }
}
