@use "../variables";

/********** GENERAL **********/

body {
  padding: 0;
  margin: 0;
  font-family: variables.$font-family-serif;
  line-height: 1.6;
  @include variables.text-color();
  background-color: variables.$main-background-color;
}



/********** HEADER **********/

header {
  padding: 2rem 1rem;
  @include variables.text-color(variables.$header-text-color);
  text-align: center;
  @include variables.banner(bottom, variables.$gradient-color-1, variables.$gradient-color-2, url("../images/wave.svg"));
}

.header__title {
  margin: 0;
  font-size: 4rem;
  letter-spacing: .75rem;
}

.header__paragraph {
  margin-block-start: .5rem;
  font-size: 2rem;
  font-weight: 900;
}



/********** NAVIGATION **********/

nav {
  background-color: variables.$gradient-color-2;

  // Menú hamburguesa, en tamaño desktop no se muestra
  .menu-toggle {
    display: none;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    list-style: none;
  }

  a {
    display: block;
    padding: .5rem .5rem;
    font-size: .9rem;
    font-weight: bold;
    color: variables.$header-text-color;
    text-decoration: none;
  }

  a:hover {
    background-color: rgb(0 0 0 / .1);
  }
  
  .hvr-underline-from-center::before {
    background: variables.$gradient-color-1;
  }

}



/********** MAIN **********/
/*
main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(variables.$min-column-size, 1fr));
  gap: 2rem;
  max-inline-size: variables.$max-main-width;
  padding: 2rem;
  margin: auto;
}
*/

main {

  //padding: 2rem;
  padding: 2rem 6rem;
  margin: auto;
  //width: 80%;
  //max-inline-size: variables.$max-main-width;
}



/********** TARJETAS **********/

.card,
.cardList {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: variables.$card-background-color;
  border: 2px solid variables.$card-border-color;
  border-radius: 10px;
  box-shadow: 0 12px 24px rgb(0 0 0 / .2);
  transition: transform .3s, box-shadow .3s;
}

.card:hover,
.cardList:hover {
  box-shadow: 0 24px 48px rgb(0 0 0 / .4);
  transform: translateY(-12px);
}

.card__image,
.cardList__image {
  inline-size: 100%;
  block-size: 200px;
  object-fit: cover;
}

.card__content,
.cardList__content,
.card__footer {
  padding: 1.2rem;
  margin: .8rem 0 0;
 
}

.card__footer {
  margin-block-start: auto;
}

.card__link {
  padding: .3rem;
  font-size: .8rem;
  font-weight: 900;
  @include variables.text-color(variables.$card-link-color);
  text-decoration: none;
  border: 2px solid variables.$card-border-button-color;
}

.card__title,
.h2__title {
  display: flex;
  gap: .5rem;
  align-items: center;
  margin-block-start: 0;
  font-size: 1.3rem;
  @include variables.text-color(variables.$card-title-color);
}

.h2__title {
  padding: 1rem 0;
}



/********** FOOTER **********/

footer {
  padding: 1rem;
  @include variables.banner(top, variables.$gradient-color-1, variables.$gradient-color-2);
}

.footer__paragraph {
  font-size: .9rem;
  @include variables.text-color(variables.$footer-text-color);
  text-align: center;
}
/*******************************************************************************************/

.icon__size {
  font-size: 2rem;
}

.tip {
  border: .2rem solid #666363;
  color: #666363;
  padding: 1.2rem;
  display: block;
  text-align: justify;
  border-radius: .7rem;
}

/***** VIDEO ********/

/*
iframe {
    width: 80%;
    //max-width: 80%;
    height: auto;
    aspect-ratio: 16/9;
    border: 0;
    display: block;
    margin: 0 auto;
}
*/
.video {
    width: 80%;
     //max-width: 80%;
    margin: 0 auto;

    .video__iframe {
      width: 100%;
      height: auto;
      aspect-ratio: 16/9;
      border: 0;
      display: block;
    }

    .video__figcaption {
      text-align: right;
      font-size: .9rem;
    }
}

/*******CARD TIPS*********/
.cardTip {
  position: relative;
  cursor: help;      
  color: variables.$cardTip-color-word;
  //font-weight: bold;
}

.cardTip__content {
  visibility: hidden;
  opacity: 0;
  //width: 20rem;
  //max-width: 90vw;
  //width: clamp(200px, 80%, 30rem);
  background: #fff;
  color: #000;
  //text-align: left;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  position: absolute;
  z-index: 10;
  top: 120%;     
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: opacity 0.3s ease;
  display: flex;
  //display: grid;
  //grid-template-columns: auto 1fr;
  //gap: 1rem;
 
  flex-wrap: wrap;
  width: clamp(200px, 80%, 30rem);
  max-width: 90vw;
  gap: 1rem;
  flex-direction: column;
 
  
 
}



.cardTip__content__img {

  //display: flex;
  max-width: 30%;
  //width: 20%;
 // max-width: 100%;
  height: auto;
  //border-radius: 2rem;
  margin-bottom: 5px;
  align-items: left;
  display: block;
}



.cardTip__content__text {
  align-items: right;
  flex: 1;
  padding-left: 2rem;
  font-size: .9rem;
  
 

}


.cardTip:hover .cardTip__content {
  visibility: visible;
  opacity: 1;
}
/****fin card tips******/

.img-fluid {
    max-width: 100%;
 
    height: auto;

}

.img-content1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;

  img {
    max-width: 80%;
    height: auto;
  }
}

.content_cards,
.content_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(variables.$min-column-size, 1fr));
  gap: 2rem;
  max-inline-size: variables.$max-main-width;
  padding: 2rem 1rem;
  margin: auto;
  box-sizing: border-box;
}
/*******************************************************************************************/

/********** RESPONSIVE **********/

@media (max-width: 1300px) {

  nav {
    // Menú hamburguesa
    .menu-toggle {
      display: block;
      padding: .5rem 1rem;
      font-size: 1.5rem;
      color: variables.$header-text-color;
      cursor: pointer;
      background: none;
      border: none;
    }

    ul {
      flex-direction: column;
      align-items: center;
      max-block-size: 0;
      padding: 0;
      overflow: hidden;
      background-color: variables.$gradient-color-2;
      transition: max-height .3s ease;
    }

    ul.active {
      max-block-size: 500px;
    }
  }
}

@media (max-width: 768px) {
  .header__title {
    font-size: 2.5rem;
  }

  .header__paragraph {
    font-size: 1.5rem;
  }

  main {
    padding: 1rem;
  }

  .card__content p {
    font-size: .95rem;
  }
}

@media (max-width: 480px) {
  .header__title {
    font-size: 2rem;
  }

  .header__paragraph {
    font-size: 1rem;
  }

  .card__image,
  .cardTip__content__img {
    block-size: auto;
  }
  .card,
  .cardTip__content {
    max-inline-size: 80%;
    justify-content: center;
    align-items: center;
  }

}

/******* HERO IMAGE ***********/
.hero-image-1,
.hero-image-2 {
  /* Posiciona la imagen en el centro del elemento contenedor */
  background-position: center;
  /* La imagen no se repite dentro del elemento contenedor */
  background-repeat: no-repeat;
  /* Escala la imagen, manteniendo la relación de aspecto, 
     hasta el tamaño mínimo necesario para cubrir todo el
     elemento contenedor */
  background-size: cover;
  /* Establece el contenedor como relativo para que los elementos 
     dentro puedan posicionarse de forma absoluta */
  position: relative;
 
  display: inline-block;
  //width: 100%;
  //height: 560px;
    
  width: 100%;
  //height: 24rem;

  //background-image: url(../images/hero_sensoji.jpg); 
  object-fit: cover;
}

.hero-image-1 {
  background-image: url(../images/hero_sensoji.jpg); 
  height: 24rem;
}

.hero-image-2 {
  background-image: url(../images/hero_shibuya_crossing.jpg); 
  height: 30rem;
}


.hero-title {
  //display: flex;
  //align-items: center;
  //justify-content: center;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  //width: 80%;
  //color: white;
  font-size: 3rem;

  background-color: rgba(242, 242, 230, 0.7); 
  color: rgb(0, 0, 0);
    
  //padding: 2rem;
  height: 5rem;
  max-width: 100%; 
  box-sizing: border-box; 
  //margin-right: 1rem;
  //margin-bottom: 1.5rem;
  display: inline-block;
    
  }

  .text__underline {
  text-decoration: underline;
  text-decoration-color: black; 
  text-decoration-thickness: .25rem; 
  //text-shadow: 2px 2px 2px red;
}

/*
.miniaturaImg {
  width: 6rem;
  height: auto; 
  border-radius: .4rem;
}
*/

.distribution {
  display:flex;
  justify-content: center;

}
.distribution__right {
  align-items: right;
  padding: 0 0 0 1rem;
}

.distribution__left {
  align-items: left;
  padding: 0 1rem 0 0;
}

/****TABLAS****/
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 0.5rem;
  border: 1px solid variables.$color2;
}

caption {
  width: 100%;
    font-size: 1.5rem;
    padding: 1rem 0;
    background-color: variables.$color4;
    //border: 1px solid variables.$color2;
}

@media screen and (max-width: 600px) {

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  // Oculta la cabecera de la tabla pero sigue existiendo
  // en el DOM, por lo que sigue siendo accesible para los
  // lectores de pantalla
  thead {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    margin-bottom: 1rem;
    border: 1px solid variables.$color2;
  }

  td {
    border: none;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    position: absolute;
    left: 1rem;
    content: attr(data-label);
    font-weight: bold;
  }
 
}

.more::after {
  content: "\2192";
  display: inline-block;
  margin-left: .5rem;
}

.table__miniaturaImg {
    width: 6rem;
    height: auto; 
    border-radius: .4rem;
}

.table__icon {
  font-size: 3rem;
}







