<nav class="menu">
    <button class="menu-toggle" aria-label="Menú desplegable">
    <i class="fa-solid fa-bars"></i>
    Menú
    </button>
    
    
    <ul>
      <li><a href="./index.html">Inicio</a></li>
      <li><a href="./categoria.html">Listado de Barrios</a></li>
      <li><a href="./det1.html">Barrio de Taitō</a></li>
      <li><a href="./det2.html">Barrio de Shibuya</a></li>
      <li><a href="./links.html">Enlaces</a></li>
    </ul>

</nav>

<!--
<nav class="submenu submenu-det1">
  <ul>
    <li><a href="#Templo-Sensō-ji" class="hvr-underline-from-center">Templo Sensō-ji</a></li>
    <li><a href="#Japatonic-comida" class="hvr-underline-from-center">Recomendaciones de comida</a></li>
    <li><a href="#Parque-Ueno" class="hvr-underline-from-center">Parque Ueno</a></li>
  </ul>

</nav>
-->


<!----------------------------------------
   //package.json
   //"parcel:dev": "parcel src/index.html src/categoria/index.html src/det1/index.html",
   //"parcel:build": "parcel build src/index.html src/categoria/index.html src/det1/index.html",
   <ul>
      <li><a href="/" class="hvr-underline-from-center">Inicio</a></li>
      <li><a href="/categoria/" class="hvr-underline-from-center">Categoria - Barrios</a></li>
      <li><a href="/det1/" class="hvr-underline-from-center">Detalle 1 - Barrio de Taitō</a></li>
      <li><a href="/det2/" class="hvr-underline-from-center">Detalle 2 - Barrio de Shibuya</a></li>
      <li><a href="/links/" class="hvr-underline-from-center">Enlaces</a></li>
    </ul>

----------------------------------------->


