@import "npm:@fortawesome/fontawesome-free/css/all.css";
@import "npm:noto-serif-jp/noto_serif_jp_regular/css.css";
@import "npm:noto-serif-jp/noto_serif_jp_bold/css.css";
@import "npm:hover.css/css/hover-min.css";
